@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("src/fonts/outfit-v11-latin-300.woff2") format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("src/fonts/outfit-v11-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url("src/fonts/outfit-v11-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("src/fonts/outfit-v11-latin-700.woff2") format("woff2");
}

@layer base {
  html {
    @apply font-body;
    font-size: 100%;
  }
  body {
    @apply font-body;
    font-size: 100%;
  }

  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre,
  blockquote {
    @apply mb-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight;
  }

  h1 {
    @apply text-4xl leading-none my-3;
  }

  h2 {
    @apply text-3xl leading-none;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p,
  ul,
  ol {
    @apply text-base my-2;
  }

  b,
  strong {
    @apply font-bold;
  }
}
