---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Page not found! | JS Technologies"
  description="We're sorry, but the page was not found. It may have been deleted, the name has changed, or it may not be available."
  image="https://www.svgrepo.com/show/353925/javascript.svg"
>
  <div class="grid h-screen place-content-center px-4 py-24">
    <div class="text-center">
      <h1 class="text-9xl font-black text-gray-200">404</h1>

      <p class="text-2xl font-bold tracking-tight sm:text-4xl">Uh-oh!</p>

      <p class="mt-4 text-gray-500">No podemos encontrar esa página.</p>

      <a
        href="/"
        class="mt-6 inline-block rounded bg-slate-800 px-5 py-3 text-sm font-medium text-white hover:bg-sky-700 focus:outline-none focus:ring"
      >
        Volver al inicio
      </a>
    </div>
  </div>
</Layout>
