---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
  url={import.meta.env.FRONTEND_URL}
  title="Astro Propiedades | Wordpress Headless - Astro & Tailwind"
  description="Proyecto de prueba para Astro y Wordpress Headless con Astro, TailwindCSS y Custom API."
  image="/src/img/real-estate.webp"
>
  <section class="py-20">
    <div class="container mx-auto flex max-w-screen-2xl flex-col gap-8">
      <div
        class="flex flex-col items-center justify-center text-balance text-center"
      >
        <h4 class="text-base uppercase text-orange-400">Contacto</h4>
        <h1 class="text-3xl text-slate-900">
          Escribenos un mensaje desde el formulario o llámanos al +56 9 1234
          5678
        </h1>
        <form class="py-8">
          <div class="flex w-96 flex-col gap-4">
            <input
              type="text"
              placeholder="Nombre"
              class="input rounded-sm border border-gray-100 px-6 py-2"
            />
            <input
              type="email"
              placeholder="Email"
              class="input rounded-sm border border-gray-100 px-6 py-2"
            />
            <input
              type="text"
              placeholder="Teléfono"
              class="input rounded-sm border border-gray-100 px-6 py-2"
            />
            <textarea
              placeholder="Mensaje"
              class="input rounded-sm border border-gray-100 px-6 py-2"
            ></textarea>
            <button
              type="submit"
              class="w-full rounded-sm bg-orange-600 px-4 py-2 text-white"
              >Enviar mensaje</button
            >
          </div>
        </form>
      </div>
    </div>
  </section>
</Layout>
