<footer>
  <section class="bg-slate-800 py-12 sm:py-16 lg:py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="md:flex md:items-center md:justify-between">
        <h3 class="max-w-xl text-2xl font-bold text-white">
          Contamos con las mejores propiedades del mercado.
        </h3><div class="mt-8 max-w-sm md:mt-0">
          <ul class="list-none space-y-4 pl-0">
            <li class="flex items-center">
              <div>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-orange-600 flex h-8 w-8"
                    viewBox="0 0 256 256"
                    ><path
                      fill="currentColor"
                      d="M128 64a40 40 0 1 0 40 40a40 40 0 0 0-40-40Zm0 64a24 24 0 1 1 24-24a24 24 0 0 1-24 24Zm0-112a88.1 88.1 0 0 0-88 88c0 31.4 14.51 64.68 42 96.25a254.19 254.19 0 0 0 41.45 38.3a8 8 0 0 0 9.18 0a254.19 254.19 0 0 0 41.37-38.3c27.45-31.57 42-64.85 42-96.25a88.1 88.1 0 0 0-88-88Zm0 206c-16.53-13-72-60.75-72-118a72 72 0 0 1 144 0c0 57.23-55.47 105-72 118Z"
                    ></path></svg
                  >
                </div>
              </div><span class="ml-5 text-base font-normal text-white"
                >Santiago, Chile</span
              >
            </li><li class="flex items-center">
              <div>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-orange-600 flex h-8 w-8"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="m10.865 10.115l-8-5.23v10.5q0 .269.173.442t.443.173h10.115v1H3.481q-.69 0-1.153-.462t-.463-1.153V4.615q0-.69.463-1.152Q2.79 3 3.48 3h14.77q.69 0 1.153.463t.462 1.152v4.77h-1v-4.5zm0-1.115l7.693-5H3.173zm8 11.962q-1.361 0-2.315-.954t-.954-2.316v-4.5q0-.8.542-1.342q.543-.542 1.343-.542q.8 0 1.342.542t.542 1.342v4.5h-1v-4.5q0-.373-.255-.629q-.256-.255-.63-.255t-.628.255q-.256.256-.256.63v4.5q0 .94.665 1.604q.664.665 1.604.665q.94 0 1.605-.665q.665-.664.665-1.605v-4h1v4q0 1.362-.954 2.316q-.954.954-2.316.954m-16-16.077V4v12V4.885"
                    ></path></svg
                  >
                </div>
              </div><span class="ml-5 text-base font-normal text-white"
                >info@propiedades.local</span
              >
            </li>
          </ul>
        </div>
      </div><div>
        <hr class="mt-12 border-white md:mt-20" />
      </div><div
        class="mt-10 md:mt-16 lg:flex lg:items-center lg:justify-between"
      >
        <ul class="flex list-none items-center space-x-6 pl-0 sm:space-x-12">
          <li>
            <a
              class="hover:text-orange-600font-medium text-white transition-all duration-200"
              href="/">Inicio</a
            >
          </li><li>
            <a
              class="hover:text-orange-600font-medium text-white transition-all duration-200"
              href="/nosotros">Nosotros</a
            >
          </li><li>
            <a
              class="hover:text-orange-600font-medium text-white transition-all duration-200"
              href="/propiedades">Propiedades</a
            >
          </li><li>
            <a
              class="hover:text-orange-600font-medium text-white transition-all duration-200"
              href="/contacto">Contacto</a
            >
          </li>
        </ul><div class="mt-8 font-normal text-white lg:mt-0">
          © Copyright 2024, All Rights Reserved
        </div>
      </div>
    </div>
  </section>
</footer>
